%div
  .row.relative
    .row__medium-1-2
      = image_tag 'https://images.unsplash.com/photo-1524654458049-e36be0721fa2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', :alt => 'Old TOwn', :class => 'img--full-height img--background img--grayscaled'
      .overlay.overlay--dark-color
      .container.container--middle-height.container--centered-vh
        %h1.section-title--white= "Emerite"
.page-section
  .container.generic-content-container
    %h2= "Coding classes"
    %p= "Coding and computer skills are the magic power of 21st century – this is why learning to code is both interesting and necessary."
    %p= "Emerite gives classes on coding in Python, doing web development in Javascript as many other useful skills for fullstack development."
.page-section
  .container.generic-content-container
    %h2= "Private and group learning"
    %p= "Most important is to keep learning to code. Doing it in the group might be more motivating, while private classes are paced exactly by the person."
    %p= "Please contact to find out more about courses or private classes."
